<div>   
        
        <div class="padding-bottom">
                <select class="col-6 offset-6 col-md-5 offset-md-7 col-lg-4 offset-lg-8 custom-select"
                        name="allTrades" 
                        id="allTrades" 
                        ng-model="$ctrl.selectedTrade"
                        ng-change="$ctrl.updateChart()">
                        <option ng-repeat="trade in $ctrl.allTrades" 
                                value="{{trade}}">{{trade}}
                        </option>
                </select>
        </div>
        
        <canvas id="line" 
                class="chart chart-line" 
                chart-data="$ctrl.data"
                chart-labels="$ctrl.labels" 
                chart-series="$ctrl.series" 
                chart-options="$ctrl.options"
                chart-click="$ctrl.onClick">
        </canvas>
</div>